.newProduct {
  flex: 4;
  padding: 20px;
  width: 100%;
}

.addProductForm {
  margin-top: 10px;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 42, 192);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0e005c;
}

.addProductImage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductImage > input {
  padding: 10px;
}
.addProductImage > label {
  padding: 10px;
  width: 20px;
  cursor: pointer;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .col-50,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productUpload {
  display: flex;
  align-items: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.containerImage {
  position: relative;
  width: 10%;
}
.text {
  cursor: pointer;
  color: rgb(245, 35, 35);
  font-size: 16px;
  padding: 16px 32px;
}
.text2 {
  cursor: pointer;
  color: rgb(74, 35, 245);
  font-size: 16px;
  padding: 16px 32px;
}

.containerImage:hover .image {
  opacity: 0.3;
}

.containerImage:hover .middle {
  opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
